@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans:ital@0;1&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,#4EF98C ,#CFF656  );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.container img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    max-width: 100%;
}

.container img:hover{
    transform: scale(0.95);
}