@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Roboto:wght@700&display=swap');

*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    background: #79E0FF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn{
    background: white;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.5;
}